extends layout

block scripts
  script(src='/javascripts/availabilities.js')
  script(src='/javascripts/calendar.js')
  script let userid = "#{userid}";
  script let eventid = "#{eventid}";
  script let eventname = "#{eventname}";
  script let eventdescription = "#{eventdescription}";
  script let start = "#{start}";
  script let num = #{num};
  script.
    window.onload = async () => {
      let availabilities = await getAvailabilities(eventid);
      let available = checkAvailability(availabilities);
      let useravailable = getUserAvailabilities(availabilities, userid);
      loadCalendarAvailabilities(start, available, useravailable, num, eventid);

      let tds = document.getElementById('calendar').getElementsByTagName('td');
      for (td of tds) {
        let p = td.getAttribute('data-percentage');
        if (p > 0) {
          td.style.backgroundColor = `rgba(239, 108, 126, ${p/100})`;
          if (p > 0.5) td.style.color = 'white';
          if (td.classList.contains('userselected')) td.innerHTML += '✓';
        }
      }
    }

block content
  link(rel='stylesheet', href='/stylesheets/event-override.css')
  h2 mark your available days
  p#month-year
  table#calendar
    thead
      tr
        th sun
        th mon
        th tue
        th wed
        th thu
        th fri
        th sat
    tbody
      each i in [1, 2, 3, 4, 5]
        tr
          each j in [1, 2, 3, 4, 5, 6, 7]
            td